name: Deploy Preview-eventtemple
on:
  workflow_dispatch:

env:
    DUPLO_HOST: https://duplo.cloud.eventtemple.com/
    DUPLO_TOKEN: ${{ secrets.DUPLO_TOKEN }}
    SERVICE_NAME: eventtemple
    WORKER1: bulk-processing
    WORKER2: dynamo
    WORKER3: sidekick
    DUPLO_TENANT: stage

jobs:
    # build:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: Retrieve Duplo Token
    #           run: |
    #             echo "DUPLO_TOKEN=${{ secrets.DUPLO_TOKEN }}" >> $GITHUB_ENV

    #         - name: Checkout code
    #           uses: actions/checkout@v3

    #         - name: Duplo Setup
    #           uses: duplocloud/actions/setup@v0.0.10

    #         - name: Build and Push Docker Image
    #           uses: duplocloud/actions/build-image@v0.0.10
    #           id: build-and-push-eventtemple
    #           with:
    #             repo: ${{ env.SERVICE_NAME }}
    #             platforms: linux/amd64
    #             push: true
    #             cache: true
    #             tags: ${{ github.sha }}

    #     outputs:
    #       eventtemple_image: '${{ steps.build-and-push-eventtemple.outputs.image }}:${{ github.sha }}'

    deploy:
        # needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Retrieve Duplo Token
              run: |
                echo "DUPLO_TOKEN=${{ secrets.DUPLO_TOKEN }}" >> $GITHUB_ENV

            - name: Duplo Setup
              uses: duplocloud/actions/setup@v0.0.10

            - name: Create preview eventtemple service
              uses: duplocloud/actions/setup@v0.0.10

            - name: Create preview-eventtemple service in Duplo
              run: |
                echo "Using image: nginx:latest"
        
                sed -i "s|{{IMAGE}}|nginx:latest|g" deploy/config/event-temple-service.yaml
                
                duploctl service create \
                  --tenant $DUPLO_TENANT \
                  --file deploy/config/event-temple-service.yaml \
                  --wait
