name: Test env variable
on:
  workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        environment: development
        steps:
            - name: TEST_VAR variable value
              run: |
                echo "TEST_VAR=${{ vars.TEST_VAR }}"
